.section_login{
    background-color: $blue;
    height: 100vh;
    display: flex;

    .box{
        background-color: $white;
        width: 400px;
        text-align: center;
        margin: auto;
        padding: 50px 0;
        border-radius: 20px;

        form{
            justify-self: center;
            justify-content: center;
            padding: 10px 0;
            padding: 10px;
            input{
                display: flex;
                padding: 15px;
                margin: 20px auto;
                border-radius: 10px;
                border: 1px solid $gray;
                width: 80%;
            }
            button{
                padding: 8px 15px;
                margin: 20px 5px 0;
                border: 1px solid $gray;
                cursor: pointer;
                border-radius: 5px;
            }

            .white{
                background-color: $white;
                color: $black;
            }

            .blue{
                background-color: $blue;
                color: $white;
            }

            .blue:hover{
                background-color: $dark-blue;
            }

            .white:hover{
                background-color: $gray;
            }
        }
    }
}