$blue: #3c5cff;
$dark-blue: rgb(17, 35, 126);
$white: #fff;
$gray: #d4d4d4;
$black: #141414;

body{
    font-family: Calibri, sans-serif;
}

.red{
    background-color: rgb(237, 79, 79);
    color: white;
}

body{
    background-color: $blue;
}